---
import ServiceCard from "../cards/ServiceCard.astro";
import type { Service } from "../../data/site";

interface Props {
  services: Service[];
  heading?: string;
  subtitle?: string;
}
const { services, heading, subtitle } = Astro.props;
---

<div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {services.map((svc) => (
      <ServiceCard name={svc.name} slug={svc.slug} description={svc.description} icon={svc.icon} />
    ))}
  </div>
</div>